.navegacao {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--branco);
    position: sticky;
    top: 0;
    left: 0;
}