.conteudo_ancora {
    align-items: center;
    color: var(--branco);
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.conteudo_ancora--after::after {
    background-image: url("../../img/arrow-with-elipse-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 2rem;
    margin-left: 1rem;
    width: 2rem;
}